$background: #04091e;

$white: #ffffff;

$warm-white: #f9f9ff;

$nav-active: #52c5fd;

$pagination-unactive: #eeeeee;

$yellow: #f3c300;

$yellow-hover: #f8b100;

$gray: #777777;

$slider-gray: #8c8d9e;

$dark-grey: #222222;

$border: #2b3146;

$black: #000000;

//
//Brakepoints
$notebook1-bp: 1200px;

$tablet-bp: 900px;

$mobile-bp: 660px;
