@import "vars";
@import "mixins";
@import "vendor/reset.scss";

html {
  font-size: 10px;
}

body {
  background-color: $background;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;

  @include breakpoint($mobile-bp) {
    &.no-scroll {
      overflow: hidden;
    }
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

.page__mask {
  @include breakpoint($tablet-bp) {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(#000000, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

/* Blocks */

@import "blocks/header";
@import "blocks/containers";
@import "blocks/intro";
@import "blocks/rooms";
@import "blocks/facilities";
@import "blocks/history";
@import "blocks/testimonials";
@import "blocks/blog";
@import "blocks/footer";
